*{
  border: ;
}

.homePage{
  padding-left: 12em;
  padding-right: 12em;
  padding-top: 20em;
  padding-bottom: 20em;
  background-image: url("HackDavis Images/foodbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.searchBar{
  text-align: center;
}

.advancedSearch{
  text-align: center;
}

.trendHeading{
  background-color: #a2b570;
}


.appInfo{
  background-color: #a2b570;
}

.steam{
  position:absolute;
  height: 150px;
  width: 150px;
  border-radius:50%;
  background-color:#fff;
  margin-top:-75px;
  margin-left:75px;
  z_index:-1;
  opacity:0;
}

#steam-1 {
  -webkit-animation: steam-1 4s ease-out;
  animation: steam-1 4s ease-out;
}

#steam-3 {
  -webkit-animation: steam-1 4s ease-out 1s;
  animation: steam-1 4s ease-out 1s;
}

@-webkit-keyframes steam-1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam-2 {
  -webkit-animation: steam-2 4s ease-out 0.5s ;
  animation: steam-2 4s ease-out 0.5s ;
}

#steam-4 {
  -webkit-animation: steam-2 4s ease-out 1.5s ;
  animation: steam-2 4s ease-out 1.5s ;
}

@-webkit-keyframes steam-2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam-2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

.potbackground{
  background-color: #a2b570;
}

.potlid{
  padding-left: 2.5em;
}



.contactInfo{
  background-color: black;
}
.summary{
  background-color:black;
}
