<html>
    <head>
        <title>Your recipes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}" />
    </head>
    <body>
        <!-- style="background: url(/static/img/foodbanner.jpg) center / cover no-repeat;" -->
        <div class="info">
            <div class="info-container">
                    <div class="announcement">
                        <div class= "foodIcon">
                            <img class= "recipe-box-image" src="/static/img/recipeicon.png"/>
                            <h1 class = nameFood>
                                Here's what we found for {{ ingredient }}...
                            </h1>
                        </div>
                    </div>

                    <div class="food-container">
                        <div class = "headRecipe">
                            <h2>Recipes</h2>
                            <hr />
                    </div>
                    <div class = "littleRecipe">
                    </div>

                    <div class="info-food">
                        {%for i, recipe in enumerate(f) %}
                            {% if i < 8 %}
                                {% set img = b ~ recipe['image'] %}
                                <div class="recipe-box">
                                    <img class="recipe-box-image" src="{{ img }}" />
                                    <div class="recipe-box-info">
                                        <h2>{{recipe['title']}}</h2>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                <div class = "divider1">
                    <h2>Locations to Purchase Produce</h2>
                    <p>Next time you go shopping, consider stopping by your local farmer's market for the fresh produce!</p>
                </div>

                <div class="market-container">
                    <div class="market-box">
                    {% for place in z %}
                            <span class="market">{{place.marketname.split(" ", 1)[1]}} ({{place.marketname.split(" ",1)[0]}} miles)</span>
                    {% endfor %}
                    </div>
                </div>   

                   
            </div>
        </div>
    </body>
</html>