.html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: lemonMilkBold;
  src: url("LEMONMILK-BOLD.otf");
}

@font-face {
  font-family: lemonMilkReg;
  src: url("LEMONMILK-Regular.otf");
}


/* Home */
.homePage {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.homePage-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 95%;
  height: 95%;
}

.homePage-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.homePage-text {
  color: white;
}

.homePage-box {
  background: rgb(206,255,201);
  background: linear-gradient(0deg, rgba(206,255,201,1) 0%, rgba(119,221,119,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40%;
}

.searchBar{
  width: 70%;
}


.searchBar:active {
  opacity: 1;
}

.submit-button {
  margin-top: 5px;
  padding: 5px;
  color: white;
  background-color: #F98B88;
  border: 2px solid #F98B88;
}

.submit-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.trendHeading{
  background-color: #CEFFC9;
}



/* second page */
.appInfo{
  background-color: #CEFFC9;
}

.appInfo-2 {
  display: flex;
  justify-content: flex-end;
}


.missionstatement{
  margin-left: 40em;
  margin-right: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  color:#333;
}

.infoheader{
  display:flex;
  margin-bottom: 4em;
  font-family: lemonMilkBold;
}

.infoheading{
  margin-top: 14px;
  margin-right: 14px;
}

.textInfo{
  font-size: 18px;;
}

/* ----------Steam Animation -------------*/
/******************************************/

.veggie{
  position:absolute;
  overflow:hidden;
  border-radius:50%;
  margin-top:-105px;
  margin-left:300px;
  opacity:0;
}

  #vsteam-1 {
    -webkit-animation: vsteam-1 4s ease-out infinite;
    animation: vsteam-1 4s ease-out infinite;
  }

  #vsteam-3 {
    -webkit-animation: vsteam-1 4s ease-out 1s infinite;
    animation: vsteam-1 4s ease-out 1s infinite;
  }

  @-webkit-keyframes vsteam-1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
    100% {transform: translateY(-300px) translateX(-100px) scale(1); opacity: 0;}
  }

  @keyframes vsteam-1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
    100% {transform: translateY(-300px) translateX(-100px) scale(1); opacity: 0;}
  }

  #vsteam-2 {
    -webkit-animation: vsteam-2 4s ease-out 0.5s infinite;
    animation: vsteam-2 3s ease-out 0.5s infinite;
  }

  #vsteam-4 {
    -webkit-animation: vsteam-2 4s ease-out 1.5s infinite;
    animation: vsteam-2 4s ease-out 1.5s infinite;
  }

  @-webkit-keyframes vsteam-2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
    100% {transform: translateY(-300px) translateX(100px) scale(1); opacity: 0;}
  }

  @keyframes vsteam-2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
    100% {transform: translateY(-300px) translateX(100px) scale(1); opacity: 0;}
}

#vsteam-5 {
  -webkit-animation: vsteam-5 4s ease-out 0.5s infinite;
  animation: vsteam-5 3s ease-out 2.0s infinite;
}

#vsteam-6 {
  -webkit-animation: vsteam-6 4s ease-out 1.5s infinite;
  animation: vsteam-6 4s ease-out 2.5s infinite;
}

@-webkit-keyframes vsteam-5 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
  100% {transform: translateY(-300px) translateX(-100px) scale(1); opacity: 0;}
}

@keyframes vsteam-5 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
  100% {transform: translateY(-300px) translateX(-100px) scale(1); opacity: 0;}
}

@-webkit-keyframes vsteam-6 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
  100% {transform: translateY(-300px) translateX(100px) scale(1); opacity: 0;}
}

@keyframes vsteam-6 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
  100% {transform: translateY(-300px) translateX(100px) scale(1); opacity: 0;}
}


/*end of steam animation*/


.additionalInfo{
  display:flex;
}

.missionstatement2{

  margin-right: 10em;
  margin-left: 1em;
  padding: 2em;
  color:#333;
}

.textInfo{
  font-size: 2 rem;
}


.pot{
  margin-left:9.5em;
  margin-top:4em;

}

.potlid{
  margin-left: 2.5em;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count:infinite;
  animation-delay: 4s;
}

/*swinging animation*/
@-webkit-keyframes swing {
  5%,10%, 15%, 20%,25%,100% { -webkit-transform-origin:top center;}
  5% { -webkit-transform: rotate(9deg); }
  10% { -webkit-transform: rotate(-7deg); }
  15% { -webkit-transform: rotate(5deg); }
  20% { -webkit-transform: rotate(-3deg); }
  25% { -webkit-transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(0deg);}
}

@keyframes swing {
  5% { -webkit-transform: rotate(9deg); }
  10% { -webkit-transform: rotate(-7deg); }
  15% { -webkit-transform: rotate(5deg); }
  20% { -webkit-transform: rotate(-3deg); }
  25% { -webkit-transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(0deg);}
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
/* end of swinging animation*/

/*start of fading in text animation*/
.fade-in{
  animation: fadeIn ease 5s;
  -webkit-animation:fadeIn ease 5s;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

/* end of fading in text animation*/


.contactInfo{
  background-color: #111;
  margin:auto;
  display: flex;
}
.stove{
  margin:auto;
  display: flex;

}

.socialIcon{

  display:flex;
  flex-direction: column;
}
.ovenknob{

  margin-left: 2em;
  margin-right: 2em;
}

.inactive{
  margin-top:2em;
}


.fa-github{
  margin: 5px;
  text-decoration: none;
  color: grey;
  text-align: center;
}
.fa-github:hover{
  color:lightblue;
}

.fa-linkedin-in{
  margin: 5px;
  text-decoration: none;
  color: grey;
  text-align: center;
}

.fa-linkedin-in:hover{
  color:lightblue;
}
