.html {
  margin: 0;
  padding: 0;
}

/* Home */
.homePage {
  height: 100vh;
  background-image: url("HackDavis Images/foodbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.homePage-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 95%;
  height: 95%;
}

.homePage-search {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.homePage-text {
  color: white;
}

.homePage-box {
  background: #F98B88;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40%;
}

.searchBar{
  width: 70%;
}

.searchBar:active {
  opacity: 1;
}

.advancedSearch{
  text-align: center;
  border: 2px solid white;
  background-color: beige;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.advancedSearch a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.advancedSearch:hover {
  opacity: 0.9;
}




.trendHeading{
  background-color: #a2b570;
}


.appInfo{
  background-color: #a2b570;
}

.missionstatement{
  padding-left: 12em;
  padding-right: 12em;
  padding-top: 5em;
  padding-bottom: 5em;
}

/* steam animation */

.steam{
  position:absolute;
  height: 150px;
  width: 150px;
  border-radius:50%;
  background-color:#fff;
  margin-top:-75px;
  margin-left:350px;
  z-index: 0;
  opacity:0;
}

#steam-1 {
  -webkit-animation: steam-1 4s ease-out;
  animation: steam-1 4s ease-out infinite;
}

#steam-3 {
  -webkit-animation: steam-1 4s ease-out 1s;
  animation: steam-1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam-1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam-2 {
  -webkit-animation: steam-2 4s ease-out 0.5s ;
  animation: steam-2 4s ease-out 0.5s infinite;
}

#steam-4 {
  -webkit-animation: steam-2 4s ease-out 1.5s ;
  animation: steam-2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam-2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam-2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

/*end of steam animation*/

.potbackground{
  background-color: #a2b570;
  padding-left: 5em;
}

.potlid {
  padding-left: 2.5em;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/*swinging animation*/
@-webkit-keyframes swing {
  10%, 20%, 30% 40%,50%, 60%, 70%, 80%, 90%,100% { -webkit-transform-origin:top center;}
  20% { -webkit-transform: rotate(9deg); }
  40% { -webkit-transform: rotate(-7deg); }
  60% { -webkit-transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-3deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes swing {
  20% { -webkit-transform: rotate(9deg); }
  40% { -webkit-transform: rotate(-7deg); }
  60% { -webkit-transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
/* end of swinging animation*/

/*start of fading in text animation*/
.fade-in{
  animation: fadeIn ease 5s;
  -webkit-animation:fadeIn ease 5s;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

/* end of fading in text animation*/


.contactInfo{
  background-color: black;
  display: flex;
}

.socialIcons{
  padding-right: 7em;
  padding-left: 7em;

}