html, body {
    margin: 0;
}

.info {
    height: 100vh;
    background-image: url("HackDavis Images/foodbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    height: 75%;
    width: 65%;
    text-align: center;
    background: rgb(206,255,201);
    background: linear-gradient(0deg, rgba(206,255,201,1) 0%, rgba(119,221,119,1) 100%); 
    display: flex;   
    justify-content: center;
    align-items: center;
}

.info-border-in {
    width: 95%;
    height: 95%;
    border: 2px solid white;
}