html, body {
    margin: 0;
}

.info {
  background-color: #f2f2ed;
  text-align: center;
  /*
  border:solid lightblue;
    background-image: url("HackDavis Images/foodbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;*/
  }
.info-border-in {
}

.announcement{
  text-align:center;
}

.foodIcon{
  display:flex;
  flex-direction:row;
  flex-direction:center;
  align-items:center;
}

.nameFood{
  margin-left: 3em;
}

.market-box {
    display: flex;
    flex-direction: column;

    height: 40%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}


.market {
    font-size: 20px;
    border-bottom: 1px solid white;
    padding: 8px;
    background: lightgray;
}

.market:hover {
    opacity: 0.8;
}

.market span {
    color: white;
}


.info-food {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    /*overflow: scroll;*/
}


.recipe-box {
    border: 2px solid lightgray;
    width: 20%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.recipe-box-info{

}

.food-container {
    position: relative;
    background-color:#f98b88;
    text-align:center;
}

.headRecipe{
  padding:2em;
}


.recipe-box-image {
  height: 150px;
  width:150px;
  border-radius:50%;
  overflow:hidden;
  margin-left: 4em;
  margin-bottom: 2em;
  margin-top:1em;
}

.barmenu{
  border: solid black;
}

::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
